@page

@model SlothParlor.MediaJounal.WebApp.Areas.MicrosoftIdentity.Pages.Account.IndexModel

You have signed out. <a href="/MicrosoftIdentity/Account/SignIn?redirectUri=/">Sign in</a> to start a new session.

